anthonysjhenry.com, www.anthonysjhenry.com {
	@blocked {
		path *.env* *config*
	}

	handle @blocked {
		respond 403
	}

	handle /api/* {
		reverse_proxy server:4000
	}

	handle {
		reverse_proxy client:4444
	}
}
