anthonysjhenry.com, www.anthonysjhenry.com {
	@blocked {
		path *.env* *config* *robots.txt*
	}

	handle @blocked {
		respond 403
	}

	handle /api/* {
		reverse_proxy server:4000
	}

	handle {
		reverse_proxy client:4444
	}
}

rabbitmq.anthonysjhenry.com {
	reverse_proxy rabbitmq:15672
}

minio.anthonysjhenry.com {
	reverse_proxy minio:9001
}

prometheus.anthonysjhenry.com {
	reverse_proxy prometheus:9090
}

grafana.anthonysjhenry.com {
	reverse_proxy grafana:3000
}
